[safe]
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask
[user]
	name = Sa Kong
	email = kongsa@dipeak.com
[url "https://"]
    insteadOf = git://  
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[http]
    sslVerify = false
[alias]
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
    aa = add .
    pl = pull --rebase
    pla = pull --rebase origin main
    cc = commit
    ck = checkout
    ckb = checkout -b
    ba = branch -a
    bv = branch -vv
[core]
	quotepath = false