.childA {
  background-color: rgb(231, 203, 203);
}
.childB {
  background-color: rgb(209, 231, 203);
}
.childC {
  background-color: rgb(203, 231, 227);
}
.childD {
  background-color: rgb(226, 203, 231);
}
